@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/superhero/bootswatch";

* {
  box-sizing: border-box;
}

.text-justify {
  text-align: justify;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}
